#!/usr/bin/make -f

# one ring to rule them all ...
install_dir=debian/afni-atlases/usr/lib/afni/atlases/

export SHELL=/bin/bash

%:
	dh $@

override_dh_install:
	# john would make it better via install
	# We need to install while dereferencing symlinks
	mkdir -p $(install_dir)
	cp -rL atlases/*.{BRIK,HEAD}* $(install_dir)
	chmod +w -R $(install_dir)

override_dh_auto_configure:
	# annex-get data -- may be the .git one would contain them as well when we produce it?
	git annex enableremote afni_server
	git annex get *
